:root {
  --sl-font: "Figtree Variable", system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, Helvetica, Arial, "Helvetica Neue", sans-serif;
}

.site-title {
  color: var(--sl-color-white);
  font-weight: 600;
  font-size: var(--sl-text-h5);
  gap: 0.3rem;

  img {
    height: calc((var(--sl-nav-height) * 0.75) - 2 * var(--sl-nav-pad-y));
  }
}

[data-has-hero] header.header {
  border-bottom: 1px solid transparent;
  background-color: transparent;
  position: relative;
  justify-content: center;
  display: flex;
  margin-top: 3rem;

  .social-icons::after {
    display: none;
  }

  --sl-icon-color: var(--sl-color-white);

  > div {
    max-width: var(--sl-content-width);
    width: inherit;
  }

  site-search {
    display: none;
  }

  @media (max-width: 50rem) {
    margin-top: 0rem;
    starlight-theme-select {
      display: none;
    }
  }

  @media (min-width: 0rem) {
    .right-group {
      display: flex;
    }
  }
}

[data-has-hero] .main-frame {
  padding-top: 0;

  @media (max-width: 50rem) {
    padding-top: 2rem;

    .hero {
      margin-bottom: 4rem;
    }
  }
}

[data-has-hero] .page {
  --color: #0e93813d;
  background: linear-gradient(215deg, var(--color), transparent 30%),
    radial-gradient(var(--color), transparent 40%) no-repeat -60vw -40vh / 105vw
      300vh;

  --sl-content-pad-x: 3rem;

  @media (max-width: 30rem) {
    --sl-content-pad-x: 1rem;
  }
}

[data-has-hero] .hero {
  padding-block: clamp(2rem, calc(1rem + 15vmin), 15rem);

  h1 {
    font-size: clamp(var(--sl-text-3xl), calc(0.25rem + 5vw), 3rem);
    letter-spacing: -1px;
  }
}

.hero img {
  max-width: 20rem;

  @media (max-width: 70rem) {
    display: none;
  }
}

[data-has-hero] article.card {
  border: none;
  background-color: transparent;
  padding: 0;
  gap: 0.2rem;

  p {
    margin-top: 0;
    font-weight: 400;
    line-height: 1.7;
    font-size: clamp(0.8rem, calc(0.5rem + 2vw), 1.4rem);
    color: var(--sl-color-white);
  }

  p.title {
    font-weight: 700;
    font-size: clamp(1rem, calc(0.5rem + 2vw), 1.6rem);
  }
}

.hero-images {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 10rem;

  @media (max-width: 40rem) {
    flex-direction: column;
    margin-bottom: 4rem;

    img:last-child {
      display: none;
    }
  }

  img.hero-image {
    border-radius: 1rem;
    overflow: hidden;
    flex: 1;
    margin-top: 0;
    width: 100%;
    transform: scale(1);
    transition: transform 0.3s ease;
    &:hover {
      transform: scale(1.03);
    }
  }
}
